# Byte-compiled / optimized
__pycache__/
*.py[co]

# Distribution / packaging
*.egg-info/
/build/
/dist/

# Virtualenv
/env/

# Unit test / coverage reports
.cache/
.pytest_cache/
/.coverage
/htmlcov
/.tox

*.egg
*.db
bin/
parts/
develop-eggs/
dev/
venv/
.installed.cfg
.mr.developer.cfg
._*
.DS_Store
*~
*.swp
.cache/
/docs/_build
